<footer>
  <section id="footer" class="section">
      <div class="container">
          <div class="row footer-row">
              <div class="col-md-4 footer-col">
                  <h3 class="text-left footer-title my-4">Navigation</h3>
                  <div class="listing">
                      <ul class="text-left footer-ul">
                          <li class="align-items-start nav-footer-list my4">Home</li>
                          <li class="align-items-start nav-footer-list my4">About</li>
                          <li class="align-items-start nav-footer-list my4">Services</li>
                          <li class="align-items-start nav-footer-list my4">Our Nature</li>
                          <li class="align-items-start nav-footer-list my4">Testimonial</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 footer-col">
                  <h3 class="text-left footer-title my-4">Contact Us</h3>
                  <div><i class="fa fa-star fa fa-map-marker footer-contacts-icon"></i>
                      <p class="d-inline contact-p">Cebu City, Talamban Sunny Hills</p>
                  </div>
                  <div><i class="fa fa-volume-control-phone footer-contacts-icon"></i>
                      <p class="d-inline contact-p">422-3457 / +639445624567</p>
                  </div>
                  <div><i class="fa fa-envelope fa fa-map-marker footer-contacts-icon"></i>
                      <p class="d-inline contact-p">Cebu City, Talamban Sunny Hills</p>
                  </div>
              </div>
              <div class="col-md-4 footer-col">
                  <h3 class="text-left footer-title my-4">About Our Nature</h3>
                  <p class="contact-p">Nature is the most beautiful and attractive surrounding around us which make us happy and provide us natural environment to live healthy.</p>
                  <div class="footer-social-icon"><a href="#"><i class="fa fa-facebook footer-contacts-icon"></i></a><a href="#"><i class="fa fa-twitter footer-contacts-icon"></i></a><a href="#"><i class="fa fa-instagram footer-contacts-icon"></i></a><a href="#"><i class="fa fa-linkedin-square footer-contacts-icon"></i></a></div>
              </div>
          </div>
      </div>
  </section>
</footer>  