<header>
    <div id="header" class="menu-container py-3">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-9 col-md-4">
                        <div class="nav-brand"><img class="img-fluid" src="/img/naturelogo.png"></div>
                    </div>
                    <div class="col-2 col-md-8 ml-auto">
                        <div class="nav_content">
                            <h2 class="float-right nav_handle mb-0"> <img src="/img/bars.svg"></h2>
                        </div>
                        <div class="float-right navigation" data-navigation-handle=".nav_handle" data-navigation-content=".nav_content">
                            <div class="nav-brand-side"><img class="img-fluid" src="/img/logo.png"></div>
                            <ul class="list-unstyled d-flex main-nav mb-0">
                                <li> <a href="#">Hom </a></li>
                                <li> <a href="#">Products </a></li>
                                <li> <a href="#">Manufacturers </a></li>
                                <li><a href="#">Locate Your Sales Rep </a></li>
                                <li><a href="#">Contact Us </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>        